#wrapper {
    padding-top: 25px;
    text-align: center;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    background-image: url("assets/Coming-Soon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* #gif {
    padding-top: 100px;
} */

h3 {
    padding-bottom: 100px;
}

